html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    margin: 0px auto;
}

a {
  text-decoration: none;
  color:#58595B;
  font-size:14px;
  font-family:'Noto Sans TC';
  line-height:20.27px;
  padding-bottom: 45px;
}

p {
  color:#58595B;
  font-family:'Noto Sans TC';
  width:100%;
}

label {
  color:#58595B;
  font-family:'Noto Sans TC';
  width: 100%;
  overflow: hidden;
}

button {
  background-color: #FBD03F;
  font-family: 'Roboto';
  font-size: 24px;
  color:#58595B;
  border: none; 
  cursor: pointer;
  overflow: hidden;
}

.input{
  height: 10px;
  width: 323px;
  font-family: "Noto Sans HK";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  border: solid 1px;
  border-color: #58595B;
  border-radius: 10px;
  padding: 11px;
  color: #58595B;
  overflow: hidden;
}


table, tbody, td {
  font-family: 'Roboto';
  font-size: 24px;
  color:#58595B;
  line-height: 28.13px;
  text-align: center;
  padding: 10px;
  border: 1px solid #4CA4D7;
  border-collapse: collapse;
  border-spacing: 0px;
  overflow: hidden;
  background-color: grey;
}

input[type='radio']:after {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  top: -8px;
  left: -8px;
  position: relative;
  background-color: #FFFFFF;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #58595B;
  overflow: hidden;
}

input[type='radio']:checked:after {
  position: relative;
  background-image: url('../public/bluedot.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  visibility: visible;
  border: 1px solid #58595B;
  overflow: hidden;
}
